.arrow-box {
  padding: 25px;
  margin: 45px 0;
  color: #fff;
}

.arrow-box-top {
  position: relative;
  background-color: #999;
  border: 1px solid #111;
}

.arrow-box-top::before, .arrow-box-top::after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
}

.arrow-box-top::after {
  border-width: 25px;
}

.arrow-box-top::before {
  border-width: 26px;
}

.arrow-box-top::before, .arrow-box-top::after {
  left: 50%;
  bottom: 100%;
}

.arrow-box-top::after {
  border-bottom-color: #999;
  margin-left: -25px;
}

.arrow-box-top::before {
  border-bottom-color: #111;
  margin-left: -26px;
}

.arrow-box-right {
  position: relative;
  background-color: #999;
  border: 1px solid #111;
}

.arrow-box-right::before, .arrow-box-right::after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
}

.arrow-box-right::after {
  border-width: 25px;
}

.arrow-box-right::before {
  border-width: 26px;
}

.arrow-box-right::before, .arrow-box-right::after {
  left: 100%;
  top: 50%;
}

.arrow-box-right::after {
  border-left-color: #999;
  margin-top: -25px;
}

.arrow-box-right::before {
  border-left-color: #111;
  margin-top: -26px;
}

.arrow-box-bottom {
  position: relative;
  background-color: #999;
  border: 1px solid #111;
}

.arrow-box-bottom::before, .arrow-box-bottom::after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
}

.arrow-box-bottom::after {
  border-width: 25px;
}

.arrow-box-bottom::before {
  border-width: 26px;
}

.arrow-box-bottom::before, .arrow-box-bottom::after {
  top: 100%;
  left: 50%;
}

.arrow-box-bottom::after {
  border-top-color: #999;
  margin-left: -25px;
}

.arrow-box-bottom::before {
  border-top-color: #111;
  margin-left: -26px;
}

.arrow-box-left {
  position: relative;
  background-color: #999;
  border: 1px solid #111;
}

.arrow-box-left::before, .arrow-box-left::after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
}

.arrow-box-left::after {
  border-width: 25px;
}

.arrow-box-left::before {
  border-width: 26px;
}

.arrow-box-left::before, .arrow-box-left::after {
  right: 100%;
  top: 50%;
}

.arrow-box-left::after {
  border-right-color: #999;
  margin-top: -25px;
}

.arrow-box-left::before {
  border-right-color: #111;
  margin-top: -26px;
}
