@import '../mixins';

.arrow-box {
	padding: 25px;
	margin: 45px 0;
	color: #fff;
}

.arrow-box-top {
	// css-arrow(position, arrowSize, BachgroundColor, BorderWidth, BorderColor)
	@include css-arrow('top',25px,#111,10px,#999)
}

.arrow-box-right {
	@include css-arrow('right',25px,#111,10px,#999)
}

.arrow-box-bottom {
	@include css-arrow('bottom',25px,#111,10px,#999)
}

.arrow-box-left {
	@include css-arrow('left',25px,#111,10px,#999)
}